* {
  margin-top: 25px;
}

.container {
  width: auto;
  height: 700px;
}

.celakarta {
  width: 100%;
  height: 200px;
  margin-left: 2%;
  padding: 32px 0px;
  display: flex;
  flex-wrap: nowrap;
}
h3 {
  margin: 0px 0px 8px;
}
p {
  margin: 4px 0px 0px;
  font-family: monospace;
  color: #6b7280;
}

h6 {
  font-size: 20px;
  font-family: monospace;
  color: #6b7280;
}
.kratkakarta {
  width: 250px;
  height: 220px;
  text-align: left;
}

.duzakarta {
  width: 70%;
  height: 220px;
}

.duzakarta h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}

.kratkakarta h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

@media screen and(max-width: 960px) {
  .celakarta {
    width: 80%;
  }

  .kratkakarta {
    width: 100%;
  }

  .duzakarta {
    width: 100%;
  }
}
