body {
  background-color: rgb(245, 105, 62);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#hpage {
  font-size: 21px;
  color: black;
}
#linkendin {
  color: rgb(0, 255, 157);
}

#insta {
  color: rgb(0, 255, 157);
}

#projekat {
  color: rgb(0, 255, 157);
}

#welcome {
  color: rgb(0, 255, 157);
}
