body {
  background-color: #e5e5e5;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome {
  color: #0072bb;
  text-align: center;
  font-family: monospace;
}

#insta,
#linkedin,
#gmejl {
  color: rgba(255, 255, 255, 0.698);
}

#giticon {
  color: rgba(0, 0, 0, 0.698);

  padding-left: 2%;
}
button {
  background-color: rgba(191, 222, 245, 0.76);
}

#edu {
  display: inline-block;
  border: 2px solid #0072bb;
  width: 25%;
  height: 200px;
  border-radius: 9%;
}

/* dodaj font za h3naslov */
#naslovzaprojekat {
  padding-left: 2.5%;
  color: #0072bb;
  font-size: 18px;
  font-family: monospace;
}
#shorttext {
  padding-left: 2%;
}
.gitclick {
  padding-left: 2.5%;
  text-decoration: none;
  color: #0072bb;
}

#pocetnidiv {
  display: inline-block;
  border: 2px solid #0072bb;
  width: 25%;
  height: 200px;
  border-radius: 9%;
}

#institucija {
  padding-left: 2.5%;
  font-size: 17px;
  font-family: monospace;
  color: #0072bb;
}
#fax,
#srednjaskola,
#kurs {
  color: rgba(0, 0, 0, 0.698);
  text-decoration: none;
}

#tellus {
  font-size: 0.5cm;
}

#bottompage {
  font-size: 21px;
  color: #0072bb;
}

#navigation,
#gmejl,
#linkedin,
#insta {
  padding-top: 9px;
  padding-bottom: 3px;
  padding-right: 8px;
  background-color: #0072bb;
  text-decoration: none;
  text-align: right;
  width: auto;
  height: 27px;
}

#slikamene {
  display: block;
  margin: 0px auto;
  position: absolute;
  top: 20.5%;
  right: 3.5%;
}

#aboutme {
  padding-top: 5%;
  text-align: center;
}
#omeni1,
#omeni2 {
  text-align: center;
}

#logo {
  padding-bottom: 6%;
  width: 27px;
  height: 27px;
  display: block;
  padding-left: 1%;
  position: absolute;
  margin: 0px auto;
}
