* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  /* most used lines of code */
  .container {
    max-width: 1100px;
    margin: auto;
  }
  
  section {
    padding: 60px 0;
  }
  
  body,
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #f5f5f5;
  }
  
  /* title section styling */
  .title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .line {
    width: 80px;
    background: #0078ff;
    height: 4px;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .menu-btn {
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  /* scroll button section styling */
  .scrollbtn {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    background: #0078ff;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 500;
    pointer-events: auto;
  }
  
  .scrollbtn i {
    text-align: center;
    font-size: 20px;
    color: white;
  }
  
  /* navbar section styling */
  .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 24rem;
    z-index: 500;
    transition: 0.4s;
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 80%;
    color: #ffffff;
    padding: 1.1rem 24rem;
    box-shadow: 0px 6px 9px 0px rgb(0 0 0 /6%);
  }
  
  .navbar .logo a {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: white;
  }
  
  .navbar.sticky .logo a {
    color: #ffffff;
  }
  
  .navbar .menu li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    position: relative;
  }
  
  .navbar .menu li a {
    display: block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
  }
  
  .navbar.sticky .menu li a {
    color: #ffffff;
  }
  
  .navbar .menu li a::before {
    content: "";
    position: absolute;
    width: 0%;
    left: 0;
    bottom: -10px;
    height: 2px;
    background: white;
    transition: 0.2s;
  }
  
  .navbar.sticky .menu li a::before {
    background: #ffffff;
  }
  
  .navbar .menu li a:hover:before {
    width: 35px;
  }
  
  /* home section styling */
  .home {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
      url(https://www.wallpaperflare.com/static/385/120/48/computer-avid-technology-simple-multicolored-wallpaper.jpg)
        center center/cover no-repeat;
    background-attachment: fixed;
    color: white;
  }
  
  .home .home-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home .home-content h1 {
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
  }
  
  .home .home-content span {
    font-size: 45px;
  }
  
  /* about section styling */
  .about-content {
    background: white;
    width: 100%;
    padding: 2.5rem 3rem;
    display: flex;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  }
  
  .about-content .info {
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .about-content .info .personal {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .about-content .info .personal .photo {
    width: 40%;
    display: flex;
  }
  
  .about-content .info .personal .photo img {
    border-radius: 5px;
  }
  
  .about-content .info .personal .name {
    align-items: flex-start;
    width: 60%;
  }
  
  .about-content .info .personal .name p {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .about-content .info .personal .name p span {
    font-weight: 600;
  }
  
  .about-content .info .skills {
    margin-top: 25px;
  }
  
  .about-content .info .skills h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .about-content .info .skills .skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .about-content .info .skills .progress-line {
    margin-top: 10px;
    height: 8px;
    width: 100%;
    background: #cde1f8;
    position: relative;
    margin-bottom: 25px;
  }
  
  .about-content .info .skills .progress-line span {
    position: absolute;
    height: 100%;
    background: #0078ff;
  }
  
  .about-content .info .skills .progress-line .html {
    width: 85%;
  }
  
  .about-content .info .skills .progress-line .css {
    width: 75%;
  }
  
  .about-content .info .skills .progress-line .javascript {
    width: 90%;
  }
  
  .about-content .info .skills .progress-line .php {
    width: 50%;
  }
  
  .about-content .aboutme {
    width: 50%;
    padding: 0 20px;
  }
  
  .about-content .aboutme h5 {
    font-size: 2rem;
    position: relative;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  
  .about-content .aboutme h5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #0078ff;
  }
  
  .about-content .aboutme p {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  /* circle section styling */
  .circle {
    height: 90px;
    width: 90px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
  }
  
  /* service section styling */
  .services {
    background: #f5f5f5;
    color: black;
  }
  
  .services .services-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .services .services-content .card {
    width: 330px;
    height: 270px;
    text-align: center;
    background: white;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
  
  .card-content:hover .circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  .card-content .circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .card-content .circle i {
    line-height: 0;
    font-size: 40px;
  }
  
  .services .services-content .card .card-content .card-title {
    width: 300px;
    height: 40px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .services .services-content .card .card-content .card-title p {
    width: 300px;
    height: 40px;
    color: black;
  }
  
  /* counter-section styling  */
  .counters {
    width: 100%;
    height: 433px;
    position: relative;
    left: 0;
    top: 0;
    background: linear-gradient(#0077ff9a, #0077ff9a),
      url(https://bootstrapmade.com/demo/templates/DevFolio/assets/img/counters-bg.jpg)
        center center/cover no-repeat;
    background-attachment: fixed;
    color: white;
  }
  
  .container-c {
    max-width: 1140;
    margin: 0 auto;
    overflow: auto;
  }
  
  .counters .container-c {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 65px;
  }
  
  .counters i {
    border: 9px solid white;
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    opacity: 75%;
    padding-top: 25px;
    font-size: 30px;
  }
  
  .counters .counter {
    font-size: 34px;
  }
  
  /* portfolio section styling */
  .portfolio-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .portfolio-content .card {
    width: 359px;
  
    background: white;
    box-shadow: 0px 13 8px -10px rgb(0 0 0 / 10%);
    margin-bottom: 35px;
  }
  
  .portfolio-content .card .photo {
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  
  .portfolio-content .card .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }
  
  .portfolio-content .card:hover .photo img {
    transform: scale(1.2);
  }
  
  .portfolio-content .card .info {
    width: 100%;
    padding: 15px;
  }
  
  .portfolio-content .card .info h3 {
    font-weight: 500;
    margin-bottom: 10px;
    color: #4e4e4e;
  }
  
  .portfolio-content .card .info .category {
    color: #0078ff;
  }
  
  /* slidebar */
  .slidebar-parent {
    width: 100%;
    height: 600px;
    background: linear-gradient(#0077ffad, #0077ffad),
      url(https://bootstrapmade.com/demo/templates/DevFolio/assets/img/overlay-bg.jpg)
        center center/cover no-repeat;
    background-attachment: fixed;
    color: white;
  }
  
  .slidebar-content {
    position: relative;
    text-align: center;
    padding-top: 150px;
  }
  
  .slidebar-content img {
    border-radius: 50%;
  }
  
  .slidebar-content h3 {
    font-size: 22px;
    margin-top: 20px;
  }
  
  .slidebar-content p {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .dot {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding-left: 540px;
  }
  
  .dot .bullet {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 50%;
  }
  
  /* blog section styling */
  .blog-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .blog-content .card {
    width: 340px;
    box-shadow: 0px 13 8px -10px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.125);
  }
  
  .blog-content .card .photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .blog-content .card .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .blog-content .card .info {
    width: 100%;
    padding: 30px 20px 20px 20px;
    position: relative;
  }
  
  .blog-content .card .info h3 {
    font-weight: 500;
    margin-bottom: 10px;
    color: #4e4e4e;
  }
  
  .blog-content .card .info .category {
    position: absolute;
    left: 50%;
    top: -14px;
    transform: translate(-50px);
    border-radius: 5px;
    background: #0078ff;
    color: white;
    padding: 5px 10px;
    z-index: 105;
  }
  
  .blog-content .card .info p {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .blog-content .card .author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .blog-content .card .author .name {
    display: flex;
    align-items: center;
  }
  
  .blog-content .card .author .name img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  /* contact section styling */
  .contact {
    position: relative;
    color: white;
    width: 100%;
    background: url(https://bootstrapmade.com/demo/templates/DevFolio/assets/img/overlay-bg.jpg)
      center center/cover no-repeat;
    background-attachment: fixed;
    z-index: 0;
    padding-bottom: 30px;
  }
  
  .contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0078ff;
    opacity: 0.7;
    z-index: -1;
    pointer-events: none;
  }
  
  .contact .contact-content {
    background: white;
    color: black;
    z-index: 100;
    width: 100%;
    padding: 2.5rem;
    display: flex;
  }
  
  .contact .contact-content .heading {
    font-size: 2rem;
    font-weight: 500;
  }
  
  .contact .contact-content .line {
    margin: 0;
    width: 100px;
    height: 4px;
    margin-top: 12px;
    margin-bottom: 25px;
  }
  
  .contact .contact-content .message {
    width: 50%;
    padding: 0 15px;
  }
  
  .contact .contact-content .message .field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact .contact-content .message .field input,
  .contact .contact-content .message .field textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #888;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
  }
  
  .contact .contact-content .message .field textarea {
    height: 100px;
    padding-top: 5px;
  }
  
  .contact .contact-content .message button {
    padding: 15px 40px;
    margin-left: 160px;
    background: #0078ff;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .contact .contact-content .message button:hover {
    opacity: 70%;
    transition: 1s;
    transform: scale(1.02);
  }
  
  .contact .contact-content .gettouch {
    width: 50%;
    padding: 0 15px;
  }
  
  .contact .contact-content .gettouch p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .contact .contact-content .gettouch .info {
    margin-bottom: 15px;
  }
  
  .contact .contact-content .gettouch .info i {
    font-size: 18px;
    color: #0078ff;
    margin-right: 15px;
  }
  
  .contact .contact-content .gettouch .social {
    width: 100%;
  }
  
  .contact .contact-content .gettouch .social i {
    width: 45px;
    font-size: 25px;
    color: black;
  
    padding: 10px;
    text-align: center;
    margin: 20px 5px 0 0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    border-radius: 50%;
  }
  
  .contact .contact-content .gettouch .social i:hover {
    background: #0078ff;
    color: white;
  }
  
  .contact .footer {
    margin-top: 35px;
    margin-bottom: 0;
    padding: 25px 0;
    background: #0062d3;
  }
  
  .contact .footer p {
    text-align: center;
    font-size: 18px;
  }
  
  .contact .footer p a {
    text-transform: none;
    color: white;
  }
  
  .contact-c {
    height: 50px;
    width: 50px;
  
    border-radius: 50%;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
  }
  
  /* footer section styling */
  footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
  }
  footer .copyright {
    margin-bottom: 0.3rem;
  }
  footer .credits {
    margin-bottom: 0;
  }
  footer .credits a {
    color: #fff;
  }