html {
  scroll-behavior: smooth;
}

#Contacts {
  height: 100px;
  width: auto;
}

.AMD {
  height: 50vh;
  width: auto;
}

.forma {
  height: 50vh;
  width: auto;
}

#tellus {
  font-size: 0.5cm;
}
