body {
  background-color: rgb(133, 133, 133);
}

.cool {
  background-color: rgba(191, 222, 245, 0.76);
}

.loser {
  background-color: rgba(191, 222, 245, 0.76);
}

.nice {
  background-color: rgba(191, 222, 245, 0.76);
}

.dev {
  background-color: rgba(191, 222, 245, 0.76);
}

.teacher {
  background-color: rgba(191, 222, 245, 0.76);
}
