body {
  background-color: #e5e5e5;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome {
  color: #0072bb;
  text-align: center;
}

#insta,
#linkedin,
#gmejl {
  color: rgba(255, 255, 255, 0.698);
}

#projekat {
  color: rgba(0, 0, 0, 0.698);
  text-decoration: none;
}

#institucija {
  font-size: 20px;
}
#fax,
#srednjaskola,
#kurs {
  color: rgba(0, 0, 0, 0.698);
  text-decoration: none;
}

#tellus {
  font-size: 0.5cm;
}

#bottompage {
  font-size: 21px;
  color: #0072bb;
}

#navigation,
#gmejl,
#linkedin,
#insta {
  padding-top: 5px;
  padding-bottom: 7px;
  padding-right: 8px;
  background-color: #0072bb;
  text-decoration: none;
  text-align: right;
}

#slikamene {
  display: block;
  margin: 0px auto;
  position: absolute;
  top: 20.5%;
  right: 3.5%;
}

#aboutme {
  padding-top: 5%;
  text-align: center;
}
#omeni1,
#omeni2 {
  text-align: center;
}
