html {
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#linkendin {
  color: rgba(0, 0, 0, 0.376);
}

#insta {
  color: rgb(0, 0, 0, 0.698);
}

#projekat {
  color: rgba(0, 0, 0, 0.698);
}

#welcome {
  color: #0072bb;
}

#tellus {
  font-size: 0.5cm;
}

#fax {
  color: rgba(0, 0, 0, 0.698);
}
#srednjaskola {
  color: rgba(0, 0, 0, 0.698);
}
#kurs {
  color: rgb(0, 0, 0, 0.698);
}

#skola {
  font-size: 20px;
}

#find {
  font-size: 17px;
}

#bottompage {
  font-size: 21px;
  color: #0072bb;
}
