body {
    background-color: rgba(0, 0, 0, 0.95) /* #4a4a48 */;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #welcome {
    color: #13c4a3;
    text-align: center;
    font-family: monospace;
  }
  
  #insta,
  #linkedin,
  #gmejl {
    color: rgba(255, 255, 255, 0.698);
  }
  
  #giticon {
    color: rgba(0, 0, 0, 0.698);
  
    padding-left: 2%;
  }
  button {
    background-color: rgba(191, 222, 245, 0.76);
  }
  
  #edu {
    display: inline-block;
    border: 2px solid #20c997; /* #13c4a3; */
    width: 25%;
    height: 200px;
    border-radius: 9%;
  }
  
  /* dodaj font za h3naslov */
  #naslovzaprojekat {
    padding-left: 2.5%;
    color: #20c997;
    font-size: 18px;
    font-family: monospace;
  }
  #shorttext {
    padding-left: 2%;
  }
  .gitclick {
    padding-left: 2.5%;
    text-decoration: none;
    color: #20c997;
  }
  
  #pocetnidiv {
    display: inline-block;
    border: 2px solid #20c997;
    width: 25%;
    height: 200px;
    border-radius: 9%;
  }
  
  #institucija {
    padding-left: 2.5%;
    font-size: 17px;
    font-family: monospace;
    color: #0072bb;
  }
  #fax,
  #srednjaskola,
  #kurs {
    color: rgba(0, 0, 0, 0.698);
    text-decoration: none;
  }
  
  #tellus {
    font-size: 0.5cm;
  }
  
  #bottompage {
    font-size: 21px;
    color: #20c997;
  }
  
  .navigation,
  #gmejl,
  #linkedin,
  #insta {
    padding-top: 9px;
    padding-bottom: 3px;
    padding-right: 8px;
    background-color: #20c997;
    text-decoration: none;
    text-align: right;
    width: auto;
    height: 55px;
  }
  
  #slikamene {
    display: block;
    margin: 0px auto;
    position: absolute;
    top: 20.5%;
    right: 3.5%;
  }
  
  #aboutme {
    padding-top: 5%;
    color: #20c997;
    text-align: center;
  }
  #omeni1,
  #omeni2 {
    text-align: center;
    color: #20c997;
  }
  
  #logo {
    padding-bottom: 6%;
    width: 27px;
    height: 27px;
    display: block;
    padding-left: 1%;
    position: absolute;
    margin: 0px auto;
  }
  /* -----CSS FOR DIV FORM----- 
  -----------------------------
  -----------------------------*/
  #form {
    background-color: rgba(143, 143, 143, 0.486);
    width: 22%;
    height: 250px;
  }
  
  #mejll {
    margin-left: 20px;
    margin-right: 20px;
  }
  #number {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #button1 {
    margin-left: 24px;
    margin-right: 20px;
  }
  
  #sign {
    font-size: 22px;
    margin-left: 55px;
    margin-top: 7px;
  }
  
  #emailbox {
    width: 75px;
    height: 75px;
  }
  
  #fullname {
    margin-left: 20px;
  }
  #textbox {
    margin-left: 20px;
    margin-right: 20px;
  }
  #mailbox {
    margin-left: 20px;
    margin-right: 20px;
  }
  #mailforform {
    margin-left: 20px;
  }
  /* -----CSS FOR DIV FORM----- 
  -----------------------------
  -----------------------------*/
  
  .content-wrapper {
    width: 80%;
    margin: 4% 10% 5% 10%;
  }
  .content-wrapper img {
    width: 100%;
    height: 200%;
    overflow: hidden;
  }
  .razmak {
    width: 100%;
    height: 150px;
  }
  
  .con-wrp {
    width: 80%;
    margin: 4% 10% 5% 10%;
  }
  .con-wrp img {
    width: 100%;
    height: 200%;
  }
  
  .text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -40%;
  }
  
  .text-wrapper h2 {
    text-align: center;
    font-family: monospace;
    color: #20c997;
    font-size: 26px;
    border: 2px solid #20c997;
    border-radius: 15%;
    position: relative;
    height: 32px;
    width: 120px;
    margin-bottom: auto;
    margin-top: 120px;
    margin-left: 50%;
    margin-right: auto;
  }
  
  #texturazmaku {
    text-align: center;
    color: #20c997;
    margin-top: 520px;
    margin-left: 5%;
    margin-right: auto;
  }
  